/* Dispaly or Not */

.display-or-not-1{

	display: none;

}

.display-or-not-2 {

	display: none;

}

.display-or-not-3 {

	display: none;

}

.display-or-not-4 {

	display: none;

}

.display-or-not-5 {

	display: none;

}

.display-or-not-6 {

	display: none;

}

.display-or-not-7 {

	display: none;

}

.display-or-not-8 {

	display: none;

}

.display-or-not-9 {

	display: none;

}

.display-or-not-10 {

	display: none;

}

.display-or-not-11 {

	display: none;

}

.display-or-not-12 {

	display: none;

}

.display-or-not-13 {

	display: initial;

}

.display-or-not-14 {

	display: none;

}

.display-or-not-15 {

	display: none;

}

.display-or-not-16 {

	display: none;

}

.display-or-not-17 {

	display: none;

}

.display-or-not-18 {

	display: none;

}

.display-or-not-19 {

	display: none;

}

.display-or-not-20 {

	display: none;

}