tr.active{
	background-color: #d5e8fd!important;
}
.vertical-top{
	vertical-align: text-bottom;
}
.selectedTr td{
	background-color: #c3d6ff;
}
.partDiv{
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #7fc;
	margin: 3px 5px 3px 0px;
	display: inline-block;
}
.removePart{
	color: #f00;
	margin-left: 10px;
	cursor: pointer;
}